# Lab 02 - Answers
## Sort and Filter Query Results

In this lab, you’ll use the Transact-SQL SELECT statement to query and filter data in the AdventureWorksLT database. For your reference, the following diagram shows the tables in the database (you may need to resize the pane to see them clearly).

![](https://microsoftlearning.github.io/dp-080-Transact-SQL/Instructions/Labs/images/adventureworks-erd.png)

- Open Azure Data Studio application
- Open Lab-02.ipynb notebook
- Attach to AdventureWorksLT database
- Follow instructions to perform T-SQL queries

* * *
## Sort results using the ORDER BY clause
It’s often useful to sort query results into a particular order.

1. Write a query that returns the Name and List Price from the Product table.
2. Run the query and note that the results are presented in no particular order.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product;

3. Modify the query to add an ORDER BY clause that sorts the results by Name.
4. Run the query and review the results. This time the products are listed in alphabetical order by Name.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY Name;

5. Modify the query to sort the results by ListPrice.
6. Run the query and note that the results are listed in ascending order of **ListPrice**. By default, the **ORDER BY** clause applies an ascending sort order to the specified field.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice;

7. Modify the query to sort the results into descending order of **ListPrice**.
8. Run the query and note that the results now show the most expensive items first.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC, Name ASC;

9. Modify the query as shown below to sort the results into descending order of **ListPrice**, and then into ascending order of **Name**.
10. Run the query and review the results. Note that they are sorted into descending order of **ListPrice**, and each set of products with the same price is sorted in ascending order of **Name**.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC, Name ASC;

* * *
## Restrict results using TOP
Sometimes you only want to return a specific number of rows. For example, you might want to find the twenty most expensive products.
1. Modify the existing query to return the top 20 **Name** and **ListPrice** of all products.
2. Run the query and note that the results contain the first twenty products in descending order of ListPrice. Update the query to  include an ORDER BY clause with **ListPrice** in descending order.

In [ ]:
SELECT TOP (20) Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC;

3. Modify the query to add the **WITH TIES** parameter following TOP clause, and re-run it.

**HINT:** Use the following syntax:
```
SELECT TOP(n) WITH TIES column_name1, column_name2...
```
4. This time, there are 21 rows in the results, because there are multiple products that share the same price, one of which wasn’t included when ties were ignored by the previous query.

In [ ]:
SELECT TOP (20) WITH TIES Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC;

5. Modify the query to add the **TOP (20) PERCENT WITH TIES** parameters, and re-run it.
6. Note that this time the results contain the 20% most expensive products.

In [ ]:
SELECT TOP (20) PERCENT WITH TIES Name, ListPrice
FROM SalesLT.Product
ORDER BY ListPrice DESC;

* * *
## Retrieve pages of results with OFFSET and FETCH
User interfaces and reports often present large volumes of data as pages, you make them easier to navigate on a screen.
1. Using the following query to return product Name and ListPrice values.
```sql
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY Name OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY;
```
2. Run the query and note the effect of the **OFFSET** and **FETCH** parameters of the **ORDER BY** clause. The results start at the 0 position (the beginning of the result set) and include only the next 10 rows, essentially defining the first page of results with 10 rows per page.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY Name OFFSET 0 ROWS FETCH NEXT 10 ROWS ONLY;

3. Modify and run the query to retrieve the next page of results.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
ORDER BY Name OFFSET 10 ROWS FETCH NEXT 10 ROWS ONLY;

* * * 
## Use the ALL and DISTINCT options
Often, multiple rows in a table may contain the same values for a given subset of fields. For example, a table of products might contain a **Color** field that identifies the color of a given product. It’s not unreasonable to assume that there may be multiple products of the same color. Similarly, the table might contain a **Size** field; and again it’s not unreasonable to assume that there may be multiple products of the same size; or even multiple products with the same combination of size and color.

1. Create a query that returns the **Color** column for all the rows in the **Product** table. Run the query and examine the results.

In [ ]:
SELECT Color
FROM SalesLT.Product;

2. Run the query again, but this time use the **ALL** keyword on the **Color** column. The ALL parameter is the default behavior, and is applied implicitly to return a row for every record that meets the query criteria.

In [ ]:
SELECT ALL Color
FROM SalesLT.Product;

3. Run the query again, but this time use the **DISTINCT** keyword to return only distinct values in the **Color** column. Notice that the results now include only one instance of each color.

This ability to remove duplicates from the results can often be useful - for example to retrieve values in order to populate a drop-down list of color options in a user interface.

In [ ]:
SELECT DISTINCT Color
FROM SalesLT.Product;

4. Modify the query to add the **Size** field.
5. Run the modified query and note that it returns each unique combination of color and size.

In [ ]:
SELECT DISTINCT Color, Size
FROM SalesLT.Product;

* * *
## Filter results with the WHERE clause
Most queries for application development or reporting involve filtering the data to match specified criteria. You typically apply filtering criteria as a predicate in a **WHERE** clause of a query.

1. Write a query to return the Product Name, Color, and Size from the Product table for all Product Models equal to 6 and sort by Product Name.

2. Run the query and review the results, which contain the **Name**, **Color**, and **Size** for each product with a ProductModelID value of 6 (this is the ID for the HL Road Frame product model, of which there are multiple variants).

In [ ]:
SELECT Name, Color, Size
FROM SalesLT.Product
WHERE ProductModelID = 6
ORDER BY Name;

3. Update the query to return all products with a Product Model other than 6.
4. Run the query and review the results, noting that they contain all products with a **ProductModelID** other than 6.

In [ ]:
SELECT Name, Color, Size
FROM SalesLT.Product
WHERE ProductModelID <> 6
ORDER BY Name;

5. Update the query to return all products with a ListPrice greater than 1000.00
6. Run the query and review the results, noting that they contain all products with a ListPrice greater than 1000.00.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ListPrice > 1000.00
ORDER BY ListPrice;

7. Modify the query to return products with names that start with 'HL Road Frame'. ***Hint:*** Use the ***LIKE** operator and percent sign (%) wild-card character.
8. Run the query and review the results, noting that the LIKE operator enables you to match string patterns. The % character in the predicate is a wildcard for one or more characters, so the query returns all rows where the Name is HL Road Frame followed by any string.

The LIKE operator can be used to define complex pattern matches based on regular expressions, which can be useful when dealing with string data that follows a predictable pattern.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE Name LIKE 'HL Road Frame %';

The LIKE operator can be used to define complex pattern matches based on regular expressions, which can be useful when dealing with string data that follows a predictable pattern.

9. Copy the query below, and run it.

```sql
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ProductNumber LIKE 'FR-_[0-9][0-9]_-[0-9][0-9]';
```
10. Review the results. This time the results include products with a ProductNumber that matches patterns similar to FR-xNNx-NN (in which x is a letter and N is a numeral).

***Tip:*** To learn more about pattern-matching with the LIKE operator, see the [Transact-SQL documentation](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/like-transact-sql?view=sql-server-ver16).

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE ProductNumber LIKE 'FR-_[0-9][0-9]_-[0-9][0-9]';

11. Modify the previous query and return rows with the **SellEndDate** of the Product table is not NULL.

12. Run the query and note that to filter based on NULL values you must use IS NULL (or IS NOT NULL) you cannot compare a NULL value using the = operator.

In [ ]:
SELECT Name, ListPrice
FROM SalesLT.Product
WHERE SellEndDate IS NOT NULL;

13. Now try the following query, which uses the BETWEEN operator, as shown, to define a filter based on values within a defined range.

```sql
SELECT Name
FROM SalesLT.Product
WHERE SellEndDate BETWEEN '2006/1/1' AND '2006/12/31';
```

14. Run the query and review the results, which contain products that the company stopped selling in 2006.

In [ ]:
SELECT Name
FROM SalesLT.Product
WHERE SellEndDate BETWEEN '2006/1/1' AND '2006/12/31';

15. Copy and run the following query, which retrieves products with a ProductCategoryID value that is in a specified list.

```sql
SELECT ProductCategoryID, Name, ListPrice
FROM SalesLT.Product
WHERE ProductCategoryID IN (5,6,7);
```

In [ ]:
SELECT ProductCategoryID, Name, ListPrice
FROM SalesLT.Product
WHERE ProductCategoryID IN (5,6,7);

16. Modify the previous query and add the **SellEndDate** and use the **AND** operator to return Products in category list and have a **SELLEndDate** of NULL.

In [ ]:
SELECT ProductCategoryID, Name, ListPrice, SellEndDate
FROM SalesLT.Product
WHERE ProductCategoryID IN (5,6,7) AND SellEndDate IS NULL;

17. Create a query that returns the Product Name, Category Id and Product Number from the Product table when the Product Number starts with 'FR' or is in the category list of 5, 6, or 7.

***Hint:*** Use the `LIKE` operator with the wild-card character and the `IN` operator.

In [ ]:
SELECT Name, ProductCategoryID, ProductNumber
FROM SalesLT.Product
WHERE ProductNumber LIKE 'FR%' OR ProductCategoryID IN (5,6,7);

## End of Lab 2