# Lab 05 - Challenges

## Challenge 1: Retrieve order shipping information

The operations manager wants reports about order shipping based on data in the SalesLT.SalesOrderHeader table.

1. Retrieve the order ID and freight cost of each order.
   - Write a query to return the order ID for each order, together with the the Freight value rounded to two decimal places in a column named FreightCost.

In [ ]:
--- Your code here

2. Filter the product sales list to include only products that cost over 1,000
    - Modify the previous query to include sales totals for products that have a list price of more than 1000.

In [ ]:
--- Your code here

3. Filter the product sales groups to include only total sales over 20,000
   - Modify the previous query to only include only product groups with a total sales value greater than 20,000.

In [ ]:
--- Your code here

* * *

## Challenge 2: Aggregate product sales

The sales manager would like reports that include aggregated information about product sales.

1. Retrieve total sales by product
   - Write a query to retrieve a list of the product names from the SalesLT.Product table and the total revenue for each product calculated as the sum of LineTotal from the SalesLT.SalesOrderDetail table, with the results sorted in descending order of total revenue.

In [ ]:
--- Your code here

2. Filter the product sales list to include only products that cost over 1,000
   - Modify the previous query to include sales totals for products that have a list price of more than 1000.

In [ ]:
--- Your code here

3. Filter the product sales groups to include only total sales over 20,000
   - Modify the previous query to only include only product groups with a total sales value greater than 20,000.

In [ ]:
--- Your code here

## End of Challenge 05