# Lab 03
## Query Multiple Tables with Joins

In this lab, you’ll use the Transact-SQL SELECT statement to query multiple tables in the AdventureWorksLT database. For your reference, the following diagram shows the tables in the database (you may need to resize the pane to see them clearly).

![](https://microsoftlearning.github.io/dp-080-Transact-SQL/Instructions/Labs/images/adventureworks-erd.png)

- Open Azure Data Studio application
- Open Lab-03.ipynb notebook
- Attach to AdventureWorksLT database
- Follow instructions to perform T-SQL queries

* * *
## Use of inner joins
An inner join is used to find related data in two tables. For example, suppose you need to retrieve data about a product and its category from the SalesLT.Product and SalesLT.ProductCategory tables. You can find the relevant product category record for a product based on its ProductCategoryID field; which is a foreign-key in the product table that matches a primary key in the product category table.

1. Write an `INNER JOIN` query that returns the Product Name and Category Name as "Category" from the Product and Product Category tables.
2. Run the query, your results should the ProductName from the products table and the corresponding Category from the product category table.

In [ ]:
--- Your code here

Because the query uses an `INNER JOIN`, any products that do not have corresponding categories, and any categories that contain no products are omitted from the results.

3. Modify the query to remove the `INNER` keyword, and re-run it.
4. The results should be the same as before. `INNER` joins are the default kind of join.

In [ ]:
--- Your code here

5. Modify the query to assign aliases to the tables in the `JOIN` clause. Give the Product table the alias 'p' and the Category table the alias 'c'.
6. Run the modified query and confirm that it returns the same results as before. The use of table aliases can greatly simplify a query, particularly when multiple joins must be used.

In [ ]:
--- Your code here

7. Copy and complete the following query with the following code, which retrieves sales order data from the **SalesLT.SalesOrderHeader**, **SalesLT.SalesOrderDetail**, and **SalesLT.Product** tables:
```sql
SELECT oh.OrderDate, oh.SalesOrderNumber, p.Name As ProductName, od.OrderQty, od.UnitPrice, od.LineTotal
FROM SalesLT.SalesOrderHeader AS __
JOIN SalesLT.SalesOrderDetail AS __
    ON od.SalesOrderID = oh.SalesOrderID
JOIN SalesLT.Product AS __
    ON od.ProductID = p.ProductID
ORDER BY oh.OrderDate, oh.SalesOrderID, od.SalesOrderDetailID;
```
8. Run the modified query and note that it returns data from all three tables.

In [ ]:
--- Your code here

* * *
## Use of outer joins

An outer join is used to retrieve all rows from one table, and any corresponding rows from a related table. In cases where a row in the outer table has no corresponding rows in the related table, NULL values are returned for the related table fields. For example, suppose you want to retrieve a list of all customers and any orders they have placed, including customers who have registered but never placed an order.

1. Copy and complete the following `OUTER JOIN` query that returns the Customers who have registered but not placed an order are shown with a NULL order number.

```
SELECT __.FirstName, __.LastName, __.SalesOrderNumber
FROM SalesLT.Customer AS c
LEFT OUTER JOIN SalesLT.SalesOrderHeader AS oh
    ON __.CustomerID = __.CustomerID
ORDER BY __.CustomerID;
```
2. Run the query and note that the results contain data for every customer. If a customer has placed an order, the order number is shown.

In [ ]:
--- Your code here

Note the use of the `LEFT` keyword. This identifies which of the tables in the join is the outer table (the one from which all rows should be preserved). In this case, the join is between the **Customer** and **SalesOrderHeader** tables, so a `LEFT` join designates Customer as the outer table. Had a `RIGHT` join been used, the query would have returned all records from the **SalesOrderHeader** table and only matching data from the **Customer** table (in other words, all orders including those for which there was no matching customer record). You can also use a `FULL` outer join to preserve unmatched rows from both sides of the join (all customers, including those who haven’t placed an order; and all orders, including those with no matching customer), though in practice this is used less frequently.

3. Modify the previous query removing the `OUTER` keyword.
4. Run the query and review the results, which should be the same as before. Using the `LEFT` (or `RIGHT`) keyword automatically identifies the join as an `OUTER` join.

In [ ]:
--- Your code here

5. Modify the previous query to take advantage of the fact that it identifies non-matching rows and return only the customers who have not placed any orders.

> ***Hint:*** You will need to add a `WHERE` clause to see if the customer has placed an order.

6. Run the query and review the results, which contain data for customers who have not placed any orders.

In [ ]:
--- Your code here

7. Copy and complete the following query, which uses outer joins to retrieve Product Name and Sales Order Number using a three table join.

```
 SELECT p.__ As ProductName, oh.SalesOrderNumber
 FROM SalesLT.Product AS p
 LEFT JOIN __.SalesOrderDetail AS od
     ON p.ProductID = od.__
 LEFT JOIN SalesLT.SalesOrderHeader AS oh
     ON od.SalesOrderID = oh.__
 ORDER BY p.ProductID;
```

8. Run the query and note that the results include all products, with order numbers for any that have been purchased. This required a sequence of joins from **Product** to **SalesOrderDetail** to **SalesOrderHeader**. Note that when you join multiple tables like this, after an outer join has been specified in the join sequence, all subsequent outer joins must be of the same direction (`LEFT` or `RIGHT`).

In [ ]:
--- Your code here

9. Copy and complete the query below to add an inner join to return category information. When mixing inner and outer joins, it can be helpful to be explicit about the join types by using the `INNER` and `OUTER` keywords.

```sql
SELECT p.Name As ProductName, c.Name AS Category, oh.SalesOrderNumber
FROM SalesLT.Product AS p
LEFT OUTER __ SalesLT.SalesOrderDetail AS od
    ON p.ProductID = od.ProductID
LEFT OUTER __ SalesLT.SalesOrderHeader AS oh
    ON od.SalesOrderID = oh.SalesOrderID
INNER __ SalesLT.ProductCategory AS __
    ON p.ProductCategoryID = c.ProductCategoryID
ORDER BY p.ProductID;
```

10. Run the query and review the results, which include product names, categories, and sales order numbers.

In [ ]:
--- Your code here

* * * 
## Use a cross join
A cross join matches all possible combinations of rows from the tables being joined. In practice, it’s rarely used; but there are some specialized cases where it is useful.

1. Copy the following query into the code cell.

```
SELECT p.Name, c.FirstName, c.LastName, c.EmailAddress
FROM SalesLT.Product as p
CROSS JOIN SalesLT.Customer as c;
```

2. Run the query and note that the results contain a row for every product and customer combination (which might be used to create a mailing campaign in which an indivdual advertisement for each product is emailed to each customer - a strategy that may not endear the company to its customers!).

In [ ]:
--- Your code here

* * *
## Use a self join
A *self* join isn’t actually a specific kind of join, but it’s a technique used to join a table to itself by defining two instances of the table, each with its own alias. This approach can be useful when a row in the table includes a foreign key field that references the primary key of the same table; for example in a table of employees where an employee’s manager is also an employee, or a table of product categories where each category might be a subcategory of another category.

1. Copy and complete the following query, which includes a self join between two instances of the Product Category table.

```sql
SELECT pcat.Name AS ParentCategory, cat.Name AS SubCategory
FROM SalesLT.ProductCategory as __
JOIN SalesLT.ProductCategory __
    ON cat.ParentProductCategoryID = pcat.ProductCategoryID
ORDER BY ParentCategory, SubCategory;
```
2. Run the query and review the results, which reflect the hierarchy of parent and sub categories.

In [ ]:
--- Your code here

## End of Lab03