# Lab 05 - Answers
## Using Built-in Functions
In this lab, you’ll use built-in functions to retrieve and aggregate data in the AdventureWorksLT database. For your reference, the following diagram shows the tables in the database (you may need to resize the pane to see them clearly).
![](https://microsoftlearning.github.io/dp-080-Transact-SQL/Instructions/Labs/images/adventureworks-erd.png)
- Open Azure Data Studio application
- Open Lab-04.ipynb notebook
- Attach to AdventureWorksLT database
- Follow instructions to perform T-SQL queries

* * *

## Scalar functions

Transact-SQL provides a large number of functions that you can use to extract additional information from your data. Most of these functions are scalar functions that return a single value based on one or more input parameters, often a data field.

Tip: We don’t have enough time in this exercise to explore every function available in Transact-SQL. To learn more about the functions covered in this exercise, and more, view the [Transact-SQL documentation](https://docs.microsoft.com/sql/t-sql/functions/functions).

1. Attach to the AdventureWorksLT database.
2. Use the diagram above to locate the tables and columns in the database you'll need.
3. In the query editor, enter the following code.
```sql
 SELECT YEAR(SellStartDate) AS SellStartYear, ProductID, Name
 FROM SalesLT.Product
 ORDER BY SellStartYear;
```
4. Run the query and review the results, noting that the `YEAR` function has retrieved the year from the **SellStartDate** field.

In [6]:
 SELECT YEAR(SellStartDate) AS SellStartYear, ProductID, Name
 FROM SalesLT.Product
 ORDER BY SellStartYear;

5. Copy and complete the query below to use some scalar functions that operate on datetime values.
```sql
 SELECT YEAR(__) AS SellStartYear,
        DATENAME(mm,__) AS SellStartMonth,
        DAY(__) AS SellStartDay,
        DATENAME(dw, __) AS SellStartWeekday,
        DATEDIFF(yy,__, GETDATE()) AS YearsSold,
        ProductID,
        Name
 FROM SalesLT.Product
 ORDER BY SellStartYear;
 ```
6. Run the query and review the results.

**Note:** that the `DATENAME` function returns a different value depending on the datepart parameter that is passed to it. In this example, mm returns the month name, and **dw** returns the weekday name.

**Note:** also that the `DATEDIFF` function returns the specified time interval between and start date and an end date. In this case the interval is measured in years (**yy**), and the end date is determined by the `GETDATE` function; which when used with no parameters returns the current date and time.

In [7]:
 SELECT YEAR(SellStartDate) AS SellStartYear,
        DATENAME(mm,SellStartDate) AS SellStartMonth,
        DAY(SellStartDate) AS SellStartDay,
        DATENAME(dw, SellStartDate) AS SellStartWeekday,
        DATEDIFF(yy,SellStartDate, GETDATE()) AS YearsSold,
        ProductID,
        Name
 FROM SalesLT.Product
 ORDER BY SellStartYear;

7. Copy the following query into the code cell.
```sql
SELECT CONCAT(FirstName + ' ', LastName) AS FullName
FROM SalesLT.Customer;
```
8. Run the query and note that it returns the concatenated first and last name for each customer.

In [8]:
SELECT CONCAT(FirstName + ' ', LastName) AS FullName
FROM SalesLT.Customer;

9. Copy and complete to explore some more functions that manipulate string-based values.
```sql
 SELECT UPPER(__) AS ProductName,
        ProductNumber,
        ROUND(__, 0) AS ApproxWeight,
        LEFT(ProductNumber, 2) AS ProductType,
        SUBSTRING(ProductNumber,CHARINDEX('-', ProductNumber) + 1, 4) AS ModelCode,
        SUBSTRING(ProductNumber, LEN(ProductNumber) - CHARINDEX('-', REVERSE(RIGHT(ProductNumber, 3))) + 2, 2) AS SizeCode
 FROM SalesLT.Product;
```
10. Run the query and note that it returns the following data:
    - The product name, converted to upper case by the `UPPER` function.
    - The product number, which is a string code that encapsulates details of the product.
    - The weight of the product, rounded to the nearest whole number by using the `ROUND` function.
    - The product type, which is indicated by the first two characters of the product number, starting from the left (using the `LEFT` function).
    - The model code, which is extracted from the product number by using the `SUBSTRING` function, which extracts the four characters immediately following the first - character, which is found using the `CHARINDEX` function.
    - The size code, which is extracted using the `SUBSTRING` function to extract the two characters following the last - in the product code. The last - character is found by taking the total length (`LEN`) of the product ID and finding its index (`CHARINDEX`) in the reversed (`REVERSE`) first three characters from the right (`RIGHT`). This example shows how you can combine functions to apply fairly complex logic to extract the values you need.

In [9]:
 SELECT UPPER(Name) AS ProductName,
        ProductNumber,
        ROUND(Weight, 0) AS ApproxWeight,
        LEFT(ProductNumber, 2) AS ProductType,
        SUBSTRING(ProductNumber,CHARINDEX('-', ProductNumber) + 1, 4) AS ModelCode,
        SUBSTRING(ProductNumber, LEN(ProductNumber) - CHARINDEX('-', REVERSE(RIGHT(ProductNumber, 3))) + 2, 2) AS SizeCode
 FROM SalesLT.Product;

* * *
## Using logical functions
*Logical* functions are used to apply logical tests to values, and return an appropriate value based on the results of the logical evaluation.

1. Copy the following query into the code cell.
```sql
SELECT Name, Size AS NumericSize
FROM SalesLT.Product
WHERE ISNUMERIC(Size) = 1;
```
2. Run the query and note that the results only products with a numeric size.

In [10]:
SELECT Name, Size AS NumericSize
FROM SalesLT.Product
WHERE ISNUMERIC(Size) = 1;

3. Copy and complete the following query which nests the ISNUMERIC function used previously in an IIF function; which in turn evaluates the result of the ISNUMERIC function and returns Numeric if the result is 1 (true), and Non-Numeric otherwise.
```sql
 SELECT __, IIF(ISNUMERIC(__) = 1, 'Numeric', 'Non-Numeric') AS SizeType
 FROM SalesLT.Product;
``` 
4. Run the query and review the results.

In [11]:
SELECT Name, IIF(ISNUMERIC(Size) = 1, 'Numeric', 'Non-Numeric') AS SizeType
FROM SalesLT.Product;

5. Copy and complete the following query in the code cell below.
```sql
 SELECT prd.__ AS ProductName,
        cat.__ AS Category,
        CHOOSE (cat.ParentProductCategoryID, 'Bikes','Components','Clothing','Accessories') AS ProductType
 FROM SalesLT.Product AS prd
 JOIN SalesLT.ProductCategory AS cat
     ON prd.ProductCategoryID = cat.ProductCategoryID;
```

6. Run the query and note that the `CHOOSE` function returns the value in the ordinal position in a list based on the a specified index value. The list index is 1-based so in this query the function returns Bikes for category 1, Components for category 2, and so on.

In [12]:
SELECT prd.Name AS ProductName,
    cat.Name AS Category,
    CHOOSE (cat.ParentProductCategoryID, 'Bikes','Components','Clothing','Accessories') AS ProductType
FROM SalesLT.Product AS prd
JOIN SalesLT.ProductCategory AS cat
    ON prd.ProductCategoryID = cat.ProductCategoryID;

* * *
## Using aggregate functions
*Aggregate* functions return an aggregated value, such as a sum, count, average, minimum, or maximum.

1. Copy and complete the following query in the code cell below.

```sql
SELECT COUNT(*) AS Products,
    COUNT(DISTINCT ProductCategoryID) AS Categories,
    AVG(ListPrice) AS Average__
FROM __.Product;
```
2. Run the query and note that the following aggregations are returned:
   -  The number of products in the table. This is returned by using the COUNT function to count the number of rows (*).
   -  The number of categories. This is returned by using rhe COUNT function to count the number of distinct category IDs in the table.
   -  The average price of a product. This is returned by using the AVG function with the ListPrice field.

In [13]:
SELECT COUNT(*) AS Products,
    COUNT(DISTINCT ProductCategoryID) AS Categories,
    AVG(ListPrice) AS AveragePrice
FROM SalesLT.Product;

3. Copy and complete the following query the number of models and their average price for products with a category names that end with "bikes".

```sql
 SELECT COUNT(p.ProductID) AS BikeModels, AVG(p.ListPrice) AS AveragePrice
 FROM SalesLT.Product AS p
 JOIN SalesLT.ProductCategory AS c
     ON p.ProductCategoryID = c.ProductCategoryID
 WHERE c.Name LIKE '%Bikes';
```
4. Run the query, noting that it returns the number of models and the average price for products with category names that end in “bikes”.

In [14]:
SELECT COUNT(p.ProductID) AS BikeModels, AVG(p.ListPrice) AS AveragePrice
FROM SalesLT.Product AS p
JOIN SalesLT.ProductCategory AS c
    ON p.ProductCategoryID = c.ProductCategoryID
WHERE c.Name LIKE '%Bikes';

* * *
## Group aggregated results with the GROUP BY clause
Aggregate functions are especially useful when combined with the GROUP BY clause to calculate aggregations for different groups of data.

1. Copy and complete the following query in the code cell below, to return the number of customers assigned to each salesperson.

```sql
SELECT Salesperson, COUNT(CustomerID) AS Customers
FROM SalesLT.__
GROUP BY Salesperson
ORDER BY Salesperson;
```

2. Run the query and note that it returns the number of customers assigned to each salesperson.

In [15]:
SELECT Salesperson, COUNT(CustomerID) AS Customers
FROM SalesLT.Customer
GROUP BY Salesperson
ORDER BY Salesperson;

3. Copy and complete the following query in the code cell below, to returns the total sales revenue for each salesperson who has completed any sales.

```sql
SELECT __.Salesperson, SUM(oh.SubTotal) AS SalesRevenue
FROM SalesLT.Customer c
JOIN SalesLT.SalesOrderHeader oh
    ON __.CustomerID = oh.CustomerID
GROUP BY __.Salesperson
ORDER BY SalesRevenue DESC;
```

4. Run the query, noting that it returns the total sales revenue for each salesperson who has completed any sales.

In [16]:
SELECT c.Salesperson, SUM(oh.SubTotal) AS SalesRevenue
FROM SalesLT.Customer c
JOIN SalesLT.SalesOrderHeader oh
    ON c.CustomerID = oh.CustomerID
GROUP BY c.Salesperson
ORDER BY SalesRevenue DESC;

5. Copy and complete the following query in the code cell below, to return the sales totals for salespeople who have sold items, and 0.00 for those who haven’t.

```sql
SELECT c.Salesperson, ISNULL(SUM(oh.SubTotal), 0.00) AS SalesRevenue
FROM SalesLT.Customer c
LEFT JOIN SalesLT.SalesOrderHeader oh
    ON c.CustomerID = oh.CustomerID
GROUP BY c.Salesperson
ORDER BY SalesRevenue DESC;
```

6. Run the query, noting that it returns the sales totals for salespeople who have sold items, and 0.00 for those who haven’t.

In [17]:
SELECT c.Salesperson, ISNULL(SUM(oh.SubTotal), 0.00) AS SalesRevenue
FROM SalesLT.Customer c
LEFT JOIN SalesLT.SalesOrderHeader oh
    ON c.CustomerID = oh.CustomerID
GROUP BY c.Salesperson
ORDER BY SalesRevenue DESC;

* * *
## Filter groups with the HAVING clause

After grouping data, you may want to filter the results to include only the groups that meet specified criteria. For example, you may want to return only salespeople with more than 100 customers.

1. Copy and complete the following query with the following code, which you may think would return salespeople with more than 100 customers (but you’d be wrong, as you will see!)

```sql
SELECT Salesperson, COUNT(CustomerID) AS Customers
FROM SalesLT.Customer
WHERE COUNT(CustomerID) > 100
GROUP BY Salesperson
ORDER BY Salesperson;
```

2. Run the query and note that it returns an error. The WHERE clause is applied before the aggregations and the GROUP BY clause, so you can’t use it to filter on the aggregated value.

In [18]:
-- SELECT Salesperson, COUNT(CustomerID) AS Customers
-- FROM SalesLT.Customer
-- WHERE COUNT(CustomerID) > 100
-- GROUP BY Salesperson
-- ORDER BY Salesperson;

3. Copy and complete the query using a `HAVING` clause, which is applied after the aggregations and `GROUP BY` clause.

```sql
SELECT Salesperson, COUNT(CustomerID) AS Customers
FROM SalesLT.Customer
G__ BY Salesperson
H__ COUNT(CustomerID) > 100
ORDER BY Salesperson;
```

4. Run the query, and note that it returns only salespeople who have more than 100 customers assigned to them.

In [19]:
SELECT Salesperson, COUNT(CustomerID) AS Customers
FROM SalesLT.Customer
GROUP BY Salesperson
HAVING COUNT(CustomerID) > 100
ORDER BY Salesperson;

## End of Lab05