# Lab 04

## Using Subqueries

In this lab, you’ll use subqueries to retrieve data from tables in the AdventureWorksLT database. For your reference, the following diagram shows the tables in the database (you may need to resize the pane to see them clearly).

![](https://microsoftlearning.github.io/dp-080-Transact-SQL/Instructions/Labs/images/adventureworks-erd.png)

- Open Azure Data Studio application
- Open Lab-04.ipynb notebook
- Attach to AdventureWorksLT database
- Follow instructions to perform T-SQL queries

* * *
## Use simple subqueries
A subquery is a query that is nested within another query. The subquery is often referred to as the inner query, and the query within which it is nested is referred to as the outer query.

1. Write an query to get the maximum unit price from the sales order detail table.
2. Use the diagram above to locate the tables and columns in the database you'll need.
3. Use the `MAX()` function to get the maximum unit price from the **SalesOrderDetail** table.
4. Run the query and review the results, which consists of the highest unit price for which any individual product has been sold.

In [ ]:
--- your code here

5. Modify the query you just created as a subquery to an outer query that retrieves products with a list price higher than the maximum selling price. Return the product name and maximum list price.
6. Run the query and review the results, which include all products that have a listPrice that is higher than the maximum price for which any product has been sold.

In [ ]:
--- your code here

7. Write a query to return the product ids from the order details table where the order quantity is greater or equal to than 20. Use the `>=` operator in your query.
8. Run the query and note that it returns the ProductID for each product that has been ordered in quantities of 20 or more.

In [ ]:
--- your code here

9. Copy and complete to use the previous query as a subquery that finds the names of the products that have been ordered in quantities of 20 or more.
```sql
 SELECT Name FROM SalesLT.Product
 WHERE ProductID IN
     (__);
```
10. Run the query and note that it returns the product names.

In [ ]:
--- your code here

11. Copy the following query that uses a `JOIN` instead of subquery.
```sql
SELECT DISTINCT Name
FROM SalesLT.Product AS p
JOIN SalesLT.SalesOrderDetail AS o
    ON p.ProductID = o.ProductID
WHERE OrderQty >= 20;
```
12. Run the query and note that it returns the same results. Often you can achieve the same outcome with a subquery or a join, and often a subquery approach can be more easily interpreted by a developer looking at the code than a complex join query because the operation can be broken down into discrete components. In most cases, the performance of equivalent join or subquery operations is similar, but in some cases where existence checks need to be performed, joins perform better.

In [ ]:
--- your code here

* * *
## Use correlated subqueries

So far, the subqueries we’ve used have been independent of the outer query. In some cases, you might need to use an inner subquery that references a value in the outer query. Conceptually, the inner query runs once for each row returned by the outer query (which is why correlated subqueries are sometimes referred to as repeating subqueries).

1. Write a query to return the sales order id, product id, and order quantity for each product in the **SalesLT.SalesOrderDetail** table.

2. Run the query and note that the results contain the order ID, product ID, and quantity for each sale of a product.

In [ ]:
--- your code here

3. Copy and complete the following query to filter it using a subquery in the WHERE clause that retrieves the maximum purchased quantity for each product retrieved by the outer query. Note that the inner query references a table alias that is declared in the outer query.
```sql
 SELECT od.SalesOrderID, od.ProductID, od.OrderQty
 FROM SalesLT.SalesOrderDetail AS od
 WHERE od.OrderQty =
     (SELECT __(OrderQty)
      FROM SalesLT.SalesOrderDetail AS d
      WHERE __.ProductID = d.ProductID)
 ORDER BY od.ProductID;
``` 
4. Run the query and review the results, which should only contain product order records for which the quantity ordered is the maximum ordered for that product.

In [ ]:
--- your code here

5. Write a query that returns the sales order id, order date, and customer id from the **SalesLT.SalesOrderHeader** table for all customers who have not placed an order.

6. Run the query and note that it returns the order ID, order date, and customer ID for each order that has been placed.

In [ ]:
--- your code here

7. Copy and complete the following queryto retrieve the company name for each customer using a correlated subquery in the SELECT clause.

```
 SELECT o.SalesOrderID, o.OrderDate,
       (SELECT CompanyName
       FROM SalesLT.__ AS c
       WHERE c.CustomerID = __.CustomerID) AS CompanyName
 FROM SalesLT.SalesOrderHeader AS o
 ORDER BY o.SalesOrderID;
```

8. Run the query, and verify that the company name is returned for each customer found by the outer query.

In [ ]:
--- your code here

## End of Lab04