In [52]:
-- CREATE LOGIN ban5013user WITH PASSWORD = 'ban@5013!';
CREATE USER ban5013user FOR LOGIN ban5013user;

In [59]:
-- CREATE USER ban5013user FOR LOGIN ban5013user;
EXEC sp_addrolemember N'db_datareader', N'ban5013user'

In [57]:
SELECT name AS UserName, type_desc AS UserType
FROM sys.database_principals
WHERE type_desc IN ('SQL_USER', 'WINDOWS_USER', 'WINDOWS_GROUP');

UserName,UserType
dbo,SQL_USER
guest,SQL_USER
INFORMATION_SCHEMA,SQL_USER
sys,SQL_USER
ban5013,SQL_USER
ban5013student,SQL_USER
ban5013user,SQL_USER

In [49]:
DROP 
DROP LOGIN ban5013user;

In [55]:
-- SELECT name AS LoginName, type_desc AS LoginType, create_date AS CreationDate
-- FROM sys.sql_logins;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'sys.sql_logins'.

In [56]:
-- List database rights by user
SELECT 
    princ.name AS UserName,
    perm.permission_name AS Permission
FROM sys.database_permissions perm
JOIN sys.database_principals princ ON perm.grantee_principal_id = princ.principal_id
WHERE princ.type IN ('U', 'S', 'G') -- Filter for users, SQL users, and Windows groups
ORDER BY princ.name;

UserName,Permission
ban5013student,CONNECT
ban5013user,CONNECT
dbo,CONNECT

In [ ]:
CREATE USER