In [ ]:
    SELECT TOP 23 CustomerID
    FROM SalesLT.Customer
    ORDER BY CustomerID DESC

In [ ]:
-- Update the last 23 CustomerID fields
WITH CTE AS (
    SELECT TOP 23 CustomerID, PasswordSalt
    FROM SalesLT.Customer
    ORDER BY CustomerID DESC
)
UPDATE CTE
SET PasswordSalt = StudentID
FROM CTE
JOIN (
    VALUES
    (30118, '1542897'),
    (30117, '1542675'),
    (30116, '1542583'),
    (30115, '1542352'),
    (30113, '1542301'),
    (30112, '1542293'),
    (30111, '1542125'),
    (30110, '1541674'),
    (30109, '1540904'),
    (30108, '1537856'),
    (30107, '1537675'),
    (30106, '1536977'),
    (30105, '1536865'),
    (30104, '1536740'),
    (30102, '1536731'),
    (30100, '1536123'),
    (30098, '1534758'),
    (30095, '1527574'),
    (30094, '1525759'),
    (30093, '1511142'),
    (30090, '1506007'),
    (30089, '1505897'),
    (30087, '1497172')
) AS NewIDs (CustomerID, StudentID)
    ON CTE.CustomerID = NewIDs.CustomerID;

In [ ]:
SELECT TOP 23 CustomerID, PasswordSalt
FROM SalesLT.Customer
ORDER BY CustomerID DESC